# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/sciforum/user_profile/media

sciforum/sciforum/keys.py
sciforum/settings.ini
sciforum/_sciforumchat-firebase-adminsdk-a4c26-5cac033bb0.json
sciforum/_sciforumchat-firebase-adminsdk-a4c26-5cac033bb0.json
sciforum/settings.ini
sciforum/settings.ini
sciforum/settings.ini
sciforumchat-firebase-adminsdk-a4c26-a99c1755e5.json
settings.ini
