{% autoescape off %}
    <h2>Hi {{ username }},</h2>
    <h4>Looks like you lost the password for your sciForum Account,</h4>
    <p>We are here to help. click the link below to change your password.</p>

    <p>{{ reset_password_url }}</p>

    <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>

    <p>This link can only be used once. If you need to reset your password again, please visit sciForum and request another reset.</p>
    <h4>If you did not make this request, you can simply ignore this email.</h4>

    <p>
        Sincerely,
        <br>
        The sciForum Team
    </p>
{% endautoescape %}